﻿@page "/movie"
@model Razorpages.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "My Movies";
}

<h1>@ViewData["Title"]</h1>

<ul class="list-group">
    @foreach (var movie in Model.Movies)
    {
        <li class="list-group-item">
            <a href="/movie/@movie.Permalink">@movie.Name</a>
        </li>
    }
</ul>
