﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <main class="container">       
        @await Html.PartialAsync("_Nav")
        @RenderBody()
        @await Html.PartialAsync("_Footer")
    </main>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>