﻿<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/movie">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/contact">Contact</a>
        </li>
    </ul>
</header>
